body {
  
  background-size: cover;
  text-align: center;
}

h1 {
  color: hwb(0 4% 96%);
}

#para {
  color: rgb(45, 33, 214);
  font-size: medium;
  background-color: #fbc2eb;
  width: 300px;
  
}

.btn {
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
  flex: 1 1 auto;
  margin: 10px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 10px;
  color: white;
}

.btn:hover {
  background-position: right center;
}

.login {
  padding: 6px;
  background-image:  linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
width: 400;
border-radius: 20px;
box-shadow: 3px 5px #fbc2eb;

}

input {
  margin-top: 10px;
  border-radius: 5px;
}
.page{
  height: 600px;
  background-image: url("gream.png");
  background-size: cover;
  color: white;
}